/* .header{
    border: 1px solid lightgray;
    background-color: lightgrey;
    border-radius: 3px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.nav_list a{
    color: blue;
    text-decoration: none;
}
.nav_list a:hover{
    color: black;
}
.nav_title{
    font-weight: bold;
    font-size: 1.2em;
    color: blue;
} */